
body {
  background:   hsl (259, 89 %, 11 %) 50 %;
    height: 100 vh;
  }
  .button {
    border: none;
    padding: 0.625 em;
    border-radius: 0.5 em;
    cursor: pointer;
  }
  
  .button:hover {
    filter: brightness (0.9);
  }
  
  .button:active {
    transform: translateY (2 px);
  }
  
  .person-selector {
    display: flex;
    justify-content: center;
    gap: 1 em;
    margin: 3 em auto 1 em;
    max-width: 40 em;
  }
  
  .person-selector-button {
    width: 100 %;
    background-color: #15202b;
    color: #fff;
    font-size: 1.1 em;
  }
  
  .active-person {
    background: #08529d;
    box-shadow: 0 0 0.5 em 0.1 em #c3c3c333;
  }
  
  .chat-container {
    background: #15202b;
    font-family: 'Roboto', sans-serif;
    border-radius: 0.5 em;
    padding: 0.5 em 1.25 em;
    margin: auto;
    max-width: 37.5 em;
    height: 37.5 em;
    box-shadow: 0 0 1.25 em 0.5 em #c3c3c333;
  }
  
  .chat-header {
    margin-bottom: 1 em;
    color: #fff;
  }
  
  .chat-header h2 {
    font-size: 1.25 em;
    font-weight: bold;
  }
  
  .chat-messages {
    height: 23 em;
    overflow-y: scroll;
  }
  
  .chat-messages::-webkit-scrollbar {
    display: none;
  }
  
  .message {
    padding: 0.625 em;
    border-radius: 1 em;
    margin-bottom: 0.625 em;
    display: flex;
    flex-direction: column;
    color: #fff;
  }
  
  .message-sender {
    font-weight: bold;
    margin-bottom: 0.31 em;
  }
  
  .message-text {
    font-size: 1 em;
    margin-bottom: 0.31 em;
    word-wrap: break-word;
  }
  
  .message-timestamp {
    font-size: 0.75 em;
    text-align: right;
  }
  
  .blue-bg {
    background-color: #1c9bef;
  }
  
  .gray-bg {
    background-color: #3d5365;
  }
  
  .chat-input-form {
    display: flex;
    align-items: center;
    margin-top: 2 em;
    gap: 0.625 em;
  }
  
  .chat-input {
    padding: 0.625 em;
    border: none;
    border-radius: 0.5 em;
    background-color: #f5f5f5;
    color: #333;
    font-size: 1 em;
    flex-grow: 1;
  }
  
  .send-button {
    background-color: #1c9bef;
    color: #fff;
    font-size: 1 em;
    font-weight: bold;
    width: 65 px;
    height: 40 px;
  }
  
  .clear-chat-button {
    display: block;
    margin: 3.5 em ;
    font-weight: bold;
  }
  #img{
    height: 26 px;
    margin: 0 3 px -5 px 15 px;
    
  }
  #img1{
    height: 26 px;
    margin: -2 px 3 px 3 px 4 px;
    
  }
  
